body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.span {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: text 3s ease-in-out linear infinite;
}

@keyframes text {
    50% {
        color: black;
    }
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

/* Navbar styling */
nav {
    background-color: brown;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    background-color: blueviolet;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: brown;
    color: black;
    text-decoration: none;
}

ul li a:visited {
    background-color: gold;
}

ul li a:hover {
    background-color: hotpink;
}

ul li a:active {
    background-color: white;
}

ul li a i {
    margin-right: 5px;
}

#dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#dark-mode-toggle i {
    font-size: 20px;
}

#footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg, #ff0066, #ffcc00, #66ff66, #00ccff, #cc66ff);
    color: white;
    position: fixed;
    width: 25%;
    bottom: 0;
    height: 25px;
}

.dark-mode #footer {
    background: linear-gradient(45deg, #ff0066, #ffcc00, #66ff66, #00ccff, #cc66ff);
}

#about,
#services,
#contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    padding: 20px;
}

#about {
    background-image: url("https://github.com/felix312/Portfolio/blob/main/about.jpg?raw=true");
}

#services {
    background-image: url("https://github.com/felix312/Portfolio/blob/main/secteam.jpeg?raw=true");
}

#contact {
    background-image: url("https://github.com/felix312/Portfolio/blob/main/contact.jpg?raw=true");
}

h3,
h4,
p {
    color: black;
}

.rounded-btn {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}

.rounded-btn__text {
    font: bold 20px 'Quicksand', sans-serif;
    color: #ffffff;
    transition: all 0.2s;
}

.rounded-btn--loading .rounded-btn__text {
    visibility: hidden;
    opacity: 0;
}

.rounded-btn--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: rounded-btn--loading-spinner 1s ease infinite;
}

@keyframes rounded-btn--loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    #welcome {
        padding: 80px;
    }

    nav {
        margin: 10px;
    }

    nav a {
        padding: 10px 15px;
    }

    #about a,
    ul li a {
        padding: 8px 12px;
    }

    ul li {
        margin-right: 5px;
    }
}
