body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

#loader {
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-25%, -25%);
    z-index: 1000;
}

.svg-frame {
    position: relative;
    width: 20px;
    height: 20px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: 0.5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 50px;
    height: 50px;
    fill: none;
}

#center1 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    animation-duration: 3s;
}

#center1 {
    fill: #ff0;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

nav {
    background-color: brown;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    background-color: blueviolet;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: brown;
    color: black;
    text-decoration: none;
}

ul li a:visited {
    background-color: gold;
}

ul li a:hover {
    background-color: hotpink;
}

ul li a:active {
    background-color: white;
}

ul li a i {
    margin-right: 5px;
}

/* Dark Mode Toggle */
#dark-mode-toggle {
    position: right;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF;
}

.dark-mode-icon i {
    font-size: 24px;
}

.dark-mode #dark-mode-toggle {
    color: #f0f0f0;
}

#footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg, #ff0066, #ffcc00, #66ff66, #00ccff, #cc66ff);
    color: white;
    position: fixed;
    width: 50%;
    bottom: 0;
    height: 50px;
}

.dark-mode #footer {
    background: linear-gradient(45deg, #ff0066, #ffcc00, #66ff66, #00ccff, #cc66ff);
}

#about,
#services,
#contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    padding: 20px;
}

#about {
    background-image: url("https://github.com/felix312/Portfolio/blob/main/about.jpg?raw=true");
}

#services {
    background-image: url("https://github.com/felix312/Portfolio/blob/main/secteam.jpeg?raw=true");
}

#contact {
    background-image: url("https://github.com/felix312/Portfolio/blob/main/contact.jpg?raw=true");
}

h3,
h4,
p {
    color: black;
}

.rounded-btn {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    #welcome {
        padding: 80px;
    }

    nav {
        margin: 10px;
    }

    nav a {
        padding: 10px 15px;
    }

    #about a,
    ul li a {
        padding: 8px 12px;
    }

    ul li {
        margin-right: 5px;
    }
}
